.checkout{
    display: flex;
    background-color: rgb(247, 192, 151);
    height: max-content;
    padding: 20px;
}

.checkout--left{
    background-color: rgb(249, 255, 249);
}

.checkout--adv{
    width: 100%;
    margin-bottom: 10px;
}

.checkout--title{
    border-bottom: 1px solid rgb(4, 4, 4);
    padding: 10px;
}

.checkout--right{
    background-color: rgb(196, 250, 196);
}

